.Main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.LandingPageBtn {
  width: 30%;
  margin-top: 10%;
}

@media (max-width: 500px) {
  .LandingPageBtn {
    width: 90%;
  }
  .WelcomePageBtn {
    width: 90%;
  }
}